.card {
  margin-top: 15px;
  margin-bottom: 15px;;
  height: 100%
}

.card-img-top {
  max-width: 250px;
  max-height: 351px;
  border-bottom: 1px solid grey;
}

.more-info {
  position: absolute;
  left: 8px;
  bottom: 14px;
}