$inside: #08022A;
$outside: #3A1247;
$splash: #680515;
$text: #FFD501;

div.col-md-3 {
  padding: 15px;
}

.main-header {
  margin-left: 0;
  margin-right: 0;
}

.main-logo {
  margin-top: 35px;
}

.logout {
  margin: 6px;
}

.logout-col {
  margin-top: 85px;
  text-align: right;
}

label {
  color: $text;
}

.container {
  overflow: hidden;
  background-color: $inside;
  border-radius: 20px;
  border: 5px solid $splash;
}

.app-container {
  background-color: $outside;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 9pt;
  vertical-align: middle;
}