ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

.genre-view-back {
  text-align: center;
  margin-right: 10px;
}

.genre-home {
  text-align: center;
  vertical-align: middle;
}

.genre-view {
  background: white;
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.genre-name {
  font-weight: 700;
  font-size: 24pt;
}