.genre-view-back {
  margin-top: 10px;
  text-align: center;
}

.genre-view {
  background: white;
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.genre-name {
  font-weight: 700;
  font-size: 24pt;
}