.user-view {
  background: white;
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

div.user-view-info {
  max-width: 50%;
  margin: auto;
}

.user-info-label {
float: left;
}

.user-info-value {
float: right;
}

.hidden {
  display: none;
}

.user-view-edit {
  width: 200px;
}

.user-view-delete {
  width: 200px;
}

.user-home {
  text-align: center;
  vertical-align: middle;
}