.user-view {
  background: white;
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

button.user-view-back {
  text-align: center;
  margin-right: 10px;
}

.user-home {
  text-align: center;
  vertical-align: middle;
}