.user-view-edit {
  background: white;
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.user-view-edit-label {
  color: black;
}

input.form-control {
  flex: 1;
}

.form-label {
  margin-right: 10px;
  min-width: 218px;
  align-content: right;
}